<html>
  <head>
    <title>SatImage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#009688">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
  </head>
  <body>
    <h1>Hi ELON!</h1>
    <form action="/where" method="post">
      <input type="text" placeholder="Where?" name="where" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
